* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  section {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
  }
  
  .card {
    max-width: 350px;
    max-height: 450px;
    background-color: white;
    margin: auto;
    margin-top: 10%;
    border-radius: 5px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  }
  
  svg {
    height: 33px;
    padding: 5px;
    cursor: pointer;
    color: #5c5b5b;
  }
  
  .info-svg {
    background-color: #f0f0f0;
    border-radius: 50%;
  }
  
  .top,
  .body-icons {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
  
  .info img {
    width: 35px;
    padding: 2px;
    background-color: #ffff;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px rgba(216, 216, 216, 216.45);
  }
  
  .info {
    display: flex;
  }
  
  .user-name {
    margin: 0px 10px;
  }
  
  .user-name .name {
    font-size: 13px;
    font-weight: 600;
  }
  .user-name p {
    font-size: 10px;
  }
  
  .user-name .id {
    color: grey;
  }
  
  .body,
  .bottom-section {
    padding: 5px 15px;
  }
  .body img {
    width: 100%;
    border-radius: 5px;
  }
  
  .body-icons {
    padding: 5px 0px;
  }
  
  
  .bottom {
    margin: auto;
    display: flex;
    margin-top: 10px;
    padding: 7px;
    position: relative;
  }
  
  /* input {
    width: 100%;
    padding: 5px;
    padding-right: 40px;
    border-radius: 10px;
    border: 2px solid #a39e9e;
    font-size: 15px;
  } */
  
  .bottom svg {
    transform: rotate(90deg);
    position: absolute;
    right: 7px;
  }
  
  .bottom svg:hover {
    color: #313030;
  }
  
  .bottom-section h4,
  p {
    font-size: 10px;
    padding: 0 7px;
  }
  h6,
  span {
    padding: 41x 10px;
    font-family: "Courier New", Courier, monospace;
  }
  span {
    color: #8441f0;
  }
  
  .sub-heading {
    display: flex;
    justify-content: space-between;
  }